In [1]:
import os
# change dir for custom imports
os.chdir('../')

In [2]:
os.getcwd()

'C:\\Users\\clari\\Desktop\\M2 - Thesis\\Research\\Dr Jacques Bou Abdo\\Recommender System\\5 - Ensemble Learning Model\\Accuracy Metrics\\Group Validation'

In [3]:
import pickle
import numpy as np
import pandas as pd
import math
from helpers.dataset_helpers import get_genres_as_columns, get_all_genres_list
from metric.helpers import (
    get_user_genre_list,
    get_user_max_likelihood,
    get_ideal_rankings,
    build_all_likelihood_dict
)

dataset_name = 'ml-5m-nf-1-2-3-4'
# original data from the dataset
ratings = pd.read_csv('datasets/' + dataset_name + '/clean/ratings.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv', encoding='latin-1')

# data from recommender0
testset = pd.read_csv('output/' + dataset_name + '/test.csv')
trainset = pd.read_csv('output/' + dataset_name + '/train.csv')
rankings = pd.read_csv('output/' + dataset_name + '/rankings.csv')

# merge item data to the ratings df
test_df = testset.merge(movies, how='inner', on='movieId').sort_values(by='userId')
#ratings_df = ratings.merge(movies, how='inner', on='movieId').sort_values(by='userId')
rankings_df = rankings.merge(movies, how='inner', on='movieId').sort_values(by='rank')
#.drop(['title','genres_y'], axis=1)
ratings['user_cat'] = None
ratings['rating_group'] = None
ratings['item_cat'] = None
ratings['user_group'] = None
ratings['genres_x'] = None
ratings['timestamp_y'] = None
ratings['title_x'] = None
ratings['title_y'] = None
ratings['timestamp_x'] = None
ratings['genres_y'] = None

ratings_df = ratings.drop(['timestamp_x',	'title_x',	'genres_x',	'timestamp_y',	'title_y',	'genres_y'	], axis=1)
# create a new column for the genres count
test_df['count_genres'] = test_df.apply(lambda x: len(x['genres'].split('|')), axis=1)

In [4]:
#ratings_df = ratings_df.rename(columns={'genres_x':'genres', 'title_x':'title'}).copy()
#ratings_df.iloc[:,7:]
ratings_df

,Unnamed: 0.1,Unnamed: 0,Column1,userId,movieId,rating,user_cat,rating_group,item_cat,nf1,...,3&4,1&2&3,2&3&4,1&2&4,1&3&4,1&2&3&4 = 0,1&2&3&4 = 1,timestamp,title_y.1,genres_y.1
0,0,21976,446620,8619,54426,3.5,None,None,None,0,...,0,0,0,0,0,1,0,1269300682,12:08 East of Bucharest (A fost sau n-a fost?)...,Comedy|Drama
1,30,21974,612574,8619,4638,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1113270109,Jurassic Park III (2001),Action|Adventure|Sci-Fi|Thriller
2,31,21959,701769,8619,8505,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1174346819,"Eel, The (Unagi) (1997)",Drama|Romance
3,32,21960,618242,8619,2130,3.5,None,None,None,0,...,0,0,0,0,0,1,0,1137974196,Atlantic City (1980),Crime|Drama|Romance
4,33,21961,120327,8619,75443,3.5,None,None,None,0,...,0,0,0,0,0,1,0,1269203261,Invisible Stripes (1939),Crime|Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3212,3166,425464,311078,162516,44004,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1408820482,Failure to Launch (2006),Comedy|Romance
3213,3165,425463,823186,162516,5952,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1175594311,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
3214,3164,425462,477006,162516,160,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1074040573,Congo (1995),Action|Adventure|Mystery|Sci-Fi
3215,3171,425470,129393,162516,2520,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1075736674,Airport (1970),Drama
3216,3216,425467,83505,162516,5854,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1036503709,Sharky's Machine (1981),Crime|Drama|Romance

In [5]:
# get all unique genres and users
genres = get_all_genres_list(ratings_df)
users = list(set(ratings_df.userId.to_list()))
rankings_df.drop(['title', 'genres'],axis=1)
# merge rankings with the real ratings
#rankings_hits = rankings_df.merge(ratings_df, how='left', on=['userId', 'movieId', 'genres']).sort_values(by=['userId', 'rank'])
rankings_hits = rankings_df.merge(ratings_df, how='left', on=['userId', 'movieId']).sort_values(by=['userId', 'rank'])
#rankings_hits = rankings_df
#rankings_hits = rankings_hits.drop(['title', 'timestamp'], axis=1).rename(columns={'genres_x':'genres'})
#rankings_hits = rankings_hits.drop(['timestamp'], axis=1).rename(columns={'genres_x':'genres'})
rankings_hits

,userId,movieId,prediction_x,rank,title_x,genres_x,Unnamed: 0.1,Unnamed: 0,Column1,rating,...,3&4,1&2&3,2&3&4,1&2&4,1&3&4,1&2&3&4 = 0,1&2&3&4 = 1,timestamp,title_y.1,genres_y.1
0,8619,99402,3.920971,1,Alois Nebel (2011),Animation|Crime|War,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,8619,58998,3.904058,2,Forgetting Sarah Marshall (2008),Comedy|Romance,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,8619,32298,3.858332,3,Guess Who (2005),Comedy|Romance,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,8619,178153,3.803753,4,Death Trance (2005),Action|Sci-Fi|Thriller,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,8619,135202,3.800667,5,Prime Suspect: Scent of Darkness (1995),(no genres listed),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,162516,106458,3.535159,6,"Tiger from Tjampa, The (Harimau Tjampa) (1953)",Drama,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,162516,178483,3.529783,7,The Marchers (2013),Drama,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,162516,97768,3.526452,8,Free Men (Les hommes libres) (2011),Drama|War,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,162516,7004,3.520524,9,Kindergarten Cop (1990),Action|Comedy|Crime|Thriller,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,162516,49274,3.519615,10,Happy Feet (2006),Adventure|Animation|Children|Comedy|IMAX,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
ratings_df[ratings_df['rating']==0.0]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, Column1, userId, movieId, rating, user_cat, rating_group, item_cat, nf1, title, genres, user_group, nf2, prediction, nf3, nf4, 1&2, 1&3, 1&4, 2&3, 2&4, 3&4, 1&2&3, 2&3&4, 1&2&4, 1&3&4, 1&2&3&4 = 0, 1&2&3&4 = 1, timestamp, title_y.1, genres_y.1]
Index: []

[0 rows x 32 columns]

In [7]:
dataset_name

'ml-5m-nf-1-2-3-4'

In [8]:
users

[78849,
 32778,
 106507,
 55189,
 93855,
 31776,
 24610,
 109731,
 8619,
 34987,
 75309,
 126637,
 29104,
 84146,
 30643,
 122803,
 46264,
 103611,
 47166,
 37438,
 156480,
 112321,
 124482,
 90691,
 115907,
 144322,
 143049,
 97994,
 137293,
 80974,
 136142,
 162516,
 20055,
 61912,
 88539,
 32349,
 150655,
 162271,
 93424,
 110971,
 62199,
 72315,
 153086,
 17783]

In [9]:
# build the likelihood dict (dictionary will be saved in ./output/dataset)
# can be build it once per dataset (if we run group validation multiple times and vary some parameters)
from recommenders.utils.timer import Timer
with Timer() as test_time:
    build_all_likelihood_dict(users, genres, ratings_df, dataset_name)
print("Took {} seconds for likelihood_dict.".format(test_time.interval))

Took 3.378264600003604 seconds for likelihood_dict.

In [10]:
# load user likelihood data
with open('output/' + dataset_name + '/likelihood.pkl', 'rb') as pkl_handle:
	likelihood_dict = pickle.load(pkl_handle)

In [11]:
likelihood_dict

defaultdict(dict,
            {'Sci-Fi': {78849: 0.04054054054054054,
              32778: 0.05511811023622047,
              106507: 0.03894736842105263,
              55189: 0.05336426914153132,
              93855: 0.03784570596797671,
              31776: 0.04017857142857143,
              24610: 0.04007633587786259,
              109731: 0.029449423815621,
              8619: 0.027450980392156862,
              34987: 0.020066889632107024,
              75309: 0.055900621118012424,
              126637: 0.03495145631067961,
              29104: 0.06951340615690169,
              84146: 0.028985507246376812,
              30643: 0.0356718192627824,
              122803: 0.07317073170731707,
              46264: 0.06896551724137931,
              103611: 0.027806385169927908,
              47166: 0.057692307692307696,
              37438: 0.09280742459396751,
              156480: 0.07675194660734148,
              112321: 0.08633093525179857,
              124482: 0.04904632152588556,
              90691: 0.06084396467124632,
              115907: 0.05393053016453382,
              144322: 0.03961584633853541,
              143049: 0.03416856492027335,
              97994: 0.007655502392344498,
              137293: 0.011249259917110717,
              80974: 0.013052208835341365,
              136142: 0.02407566638005159,
              162516: 0.03412073490813648,
              20055: 0.021575984990619138,
              61912: 0.06199770378874857,
              88539: 0.02168021680216802,
              32349: 0.06307490144546649,
              150655: 0.0843155031731641,
              162271: 0.011673151750972763,
              93424: 0.01557285873192436,
              110971: 0.044243577545195055,
              62199: 0.0255863539445629,
              72315: 0.028864413216862894,
              153086: 0.05930807248764415,
              17783: 0.01958650707290533},
             'Drama': {78849: 0.25,
              32778: 0.2609673790776153,
              106507: 0.21473684210526317,
              55189: 0.154292343387471,
              93855: 0.14847161572052403,
              31776: 0.21540178571428573,
              24610: 0.24141221374045801,
              109731: 0.34314980793854033,
              8619: 0.257843137254902,
              34987: 0.40914158305462656,
              75309: 0.2236024844720497,
              126637: 0.26796116504854367,
              29104: 0.12015888778550149,
              84146: 0.21739130434782608,
              30643: 0.19500594530321047,
              122803: 0.16260162601626016,
              46264: 0.11149425287356322,
              103611: 0.15859938208032956,
              47166: 0.17420814479638008,
              37438: 0.14269141531322505,
              156480: 0.19688542825361513,
              112321: 0.06474820143884892,
              124482: 0.10490463215258855,
              90691: 0.17369970559371933,
              115907: 0.17915904936014626,
              144322: 0.28211284513805523,
              143049: 0.224373576309795,
              97994: 0.34258373205741627,
              137293: 0.1965660153937241,
              80974: 0.22941767068273092,
              136142: 0.13413585554600171,
              162516: 0.14435695538057744,
              20055: 0.22138836772983114,
              61912: 0.13892078071182548,
              88539: 0.22854561878952123,
              32349: 0.20630749014454666,
              150655: 0.20308250226654578,
              162271: 0.29571984435797666,
              93424: 0.3114571746384872,
              110971: 0.2725975261655566,
              62199: 0.23880597014925373,
              72315: 0.25883023167489555,
              153086: 0.14332784184514002,
              17783: 0.28182807399347115},
             'Action': {78849: 0.08783783783783784,
              32778: 0.047244094488188976,
              106507: 0.12736842105263158,
              55189: 0.17633410672853828,
              93855: 0.07423580786026202,
              31776: 0.06138392857142857,
              24610: 0.12881679389312978,
              109731: 0.07426376440460948,
              8619: 0.09705882352941177,
              34987: 0.04013377926421405,
              75309: 0.08074534161490683,
              126637: 0.10485436893203884,
              29104: 0.08540218470705065,
              84146: 0.10144927536231885,
              30643: 0.09274673008323424,
              122803: 0.10569105691056911,
              46264: 0.13908045977011493,
              103611: 0.101956745623069,
              47166: 0.032805429864253395,
              37438: 0.11948955916473318,
              156480: 0.08898776418242492,
              112321: 0.17266187050359713,
              124482: 0.10490463215258855,
              90691: 0.11285574092247301,
              115907: 0.1380255941499086,
              144322: 0.10204081632653061,
              143049: 0.08997722095671981,
              97994: 0.03062200956937799,
              137293: 0.06098283007696862,
              80974: 0.03313253012048193,
              136142: 0.12811693895098883,
              162516: 0.09186351706036745,
              20055: 0.05628517823639775,
              61912: 0.12629161882893225,
              88539: 0.04245709123757904,
              32349: 0.10249671484888305,
              150655: 0.061650045330915684,
              162271: 0.042801556420233464,
              93424: 0.054505005561735265,
              110971: 0.0746907706945766,
              62199: 0.0511727078891258,
              72315: 0.06418533991644512,
              153086: 0.1416803953871499,
              17783: 0.055495103373231776},
             'Mystery': {78849: 0.033783783783783786,
              32778: 0.05511811023622047,
              106507: 0.04105263157894737,
              55189: 0.04176334106728538,
              93855: 0.036390101892285295,
              31776: 0.06584821428571429,
              24610: 0.04961832061068702,
              109731: 0.03585147247119078,
              8619: 0.03431372549019608,
              34987: 0.046822742474916385,
              75309: 0.055900621118012424,
              126637: 0.04660194174757282,
              29104: 0.027805362462760674,
              84146: 0.036231884057971016,
              30643: 0.02140309155766944,
              122803: 0.008130081300813009,
              46264: 0.013793103448275862,
              103611: 0.042224510813594233,
              47166: 0.026018099547511313,
              37438: 0.0069605568445475635,
              156480: 0.01557285873192436,
              112321: 0.03597122302158273,
              124482: 0.031335149863760216,
              90691: 0.019627085377821395,
              115907: 0.037477148080438755,
              144322: 0.03601440576230492,
              143049: 0.02050113895216401,
              97994: 0.03062200956937799,
              137293: 0.04026050917702783,
              80974: 0.01606425702811245,
              136142: 0.0,
              162516: 0.04636920384951881,
              20055: 0.03564727954971857,
              61912: 0.029850746268656716,
              88539: 0.03884372177055104,
              32349: 0.05519053876478318,
              150655: 0.03535811423390753,
              162271: 0.019455252918287938,
              93424: 0.025583982202447165,
              110971: 0.024738344433872503,
              62199: 0.04584221748400853,
              72315: 0.03646031143182681,
              153086: 0.025535420098846788,
              17783: 0.036996735582154515},
             'Thriller': {78849: 0.12162162162162163,
              32778: 0.1046119235095613,
              106507: 0.07368421052631578,
              55189: 0.12529002320185614,
              93855: 0.11644832605531295,
              31776: 0.13950892857142858,
              24610: 0.15171755725190839,
              109731: 0.117797695262484,
              8619: 0.07352941176470588,
              34987: 0.10033444816053512,
              75309: 0.13664596273291926,
              126637: 0.13398058252427184,
              29104: 0.1807348560079444,
              84146: 0.16666666666666666,
              30643: 0.12366230677764566,
              122803: 0.06504065040650407,
              46264: 0.11264367816091954,
              103611: 0.13182286302780638,
              47166: 0.016968325791855202,
              37438: 0.10556844547563805,
              156480: 0.10901001112347053,
              112321: 0.18705035971223022,
              124482: 0.1362397820163488,
              90691: 0.12365063788027478,
              115907: 0.09872029250457039,
              144322: 0.1332533013205282,
              143049: 0.1469248291571754,
              97994: 0.07655502392344497,
              137293: 0.09117821195973949,
              80974: 0.03714859437751004,
              136142: 0.07222699914015478,
              162516: 0.15660542432195976,
              20055: 0.10600375234521577,
              61912: 0.1285878300803674,
              88539: 0.05510388437217705,
              32349: 0.11826544021024968,
              150655: 0.06527651858567543,
              162271: 0.08754863813229571,
              93424: 0.07897664071190211,
              110971: 0.11179828734538534,
              62199: 0.1044776119402985,
              72315: 0.07349031522977592,
              153086: 0.12520593080724876,
              17783: 0.08052230685527748},
             'Adventure': {78849: 0.0472972972972973,
              32778: 0.03937007874015748,
              106507: 0.05157894736842105,
              55189: 0.0568445475638051,
              93855: 0.048034934497816595,
              31776: 0.04799107142857143,
              24610: 0.09446564885496184,
              109731: 0.0678617157490397,
              8619: 0.08823529411764706,
              34987: 0.013377926421404682,
              75309: 0.018633540372670808,
              126637: 0.03495145631067961,
              29104: 0.07646474677259185,
              84146: 0.057971014492753624,
              30643: 0.05112960760998811,
              122803: 0.07317073170731707,
              46264: 0.06896551724137931,
              103611: 0.06797116374871266,
              47166: 0.032805429864253395,
              37438: 0.06496519721577726,
              156480: 0.06896551724137931,
              112321: 0.08633093525179857,
              124482: 0.08174386920980926,
              90691: 0.042198233562315994,
              115907: 0.08683729433272395,
              144322: 0.03961584633853541,
              143049: 0.09567198177676538,
              97994: 0.05741626794258373,
              137293: 0.0586145648312611,
              80974: 0.04116465863453815,
              136142: 0.08512467755803955,
              162516: 0.02712160979877515,
              20055: 0.03470919324577861,
              61912: 0.09184845005740529,
              88539: 0.02077687443541102,
              32349: 0.023653088042049936,
              150655: 0.0942883046237534,
              162271: 0.021400778210116732,
              93424: 0.06117908787541713,
              110971: 0.09372026641294005,
              62199: 0.057569296375266525,
              72315: 0.030763387770603876,
              153086: 0.06672158154859967,
              17783: 0.06637649619151251},
             'Romance': {78849: 0.08108108108108109,
              32778: 0.09448818897637795,
              106507: 0.034736842105263156,
              55189: 0.024361948955916472,
              93855: 0.06550218340611354,
              31776: 0.08035714285714286,
              24610: 0.03148854961832061,
              109731: 0.030729833546734954,
              8619: 0.12352941176470589,
              34987: 0.10033444816053512,
              75309: 0.049689440993788817,
              126637: 0.08155339805825243,
              29104: 0.05561072492552135,
              84146: 0.043478260869565216,
              30643: 0.0713436385255648,
              122803: 0.08130081300813008,
              46264: 0.04827586206896552,
              103611: 0.07826982492276004,
              47166: 0.16402714932126697,
              37438: 0.06960556844547564,
              156480: 0.05116796440489433,
              112321: 0.007194244604316547,
              124482: 0.04087193460490463,
              90691: 0.07654563297350343,
              115907: 0.0603290676416819,
              144322: 0.06482593037214886,
              143049: 0.05922551252847381,
              97994: 0.053588516746411484,
              137293: 0.09591474245115453,
              80974: 0.11596385542168675,
              136142: 0.10232158211521926,
              162516: 0.0594925634295713,
              20055: 0.08442776735459662,
              61912: 0.04936854190585534,
              88539: 0.19241192411924118,
              32349: 0.06307490144546649,
              150655: 0.07071622846781506,
              162271: 0.058365758754863814,
              93424: 0.0778642936596218,
              110971: 0.05851569933396765,
              62199: 0.09594882729211088,
              72315: 0.06741359665780479,
              153086: 0.051894563426688634,
              17783: 0.088139281828074},
             'Film-Noir': {78849: 0.013513513513513514,
              32778: 0.01799775028121485,
              106507: 0.008421052631578947,
              55189: 0.010440835266821345,
              93855: 0.00727802037845706,
              31776: 0.016741071428571428,
              24610: 0.007633587786259542,
              109731: 0.030729833546734954,
              8619: 0.03725490196078431,
              34987: 0.007803790412486065,
              75309: 0.0,
              126637: 0.0,
              29104: 0.0,
              84146: 0.007246376811594203,
              30643: 0.0,
              122803: 0.024390243902439025,
              46264: 0.0,
              103611: 0.0,
              47166: 0.0,
              37438: 0.0,
              156480: 0.0,
              112321: 0.0,
              124482: 0.0,
              90691: 0.007850834151128557,
              115907: 0.007312614259597806,
              144322: 0.008403361344537815,
              143049: 0.0,
              97994: 0.007655502392344498,
              137293: 0.023090586145648313,
              80974: 0.010542168674698794,
              136142: 0.0,
              162516: 0.016622922134733157,
              20055: 0.008442776735459663,
              61912: 0.006888633754305396,
              88539: 0.012646793134598013,
              32349: 0.01576872536136662,
              150655: 0.0,
              162271: 0.009727626459143969,
              93424: 0.01668520578420467,
              110971: 0.007136060894386299,
              62199: 0.02771855010660981,
              72315: 0.003418154196733764,
              153086: 0.0,
              17783: 0.031556039173014146},
             'Western': {78849: 0.0,
              32778: 0.0,
              106507: 0.01368421052631579,
              55189: 0.00580046403712297,
              93855: 0.00727802037845706,
              31776: 0.006696428571428571,
              24610: 0.015267175572519083,
              109731: 0.0076824583866837385,
              8619: 0.026470588235294117,
              34987: 0.0,
              75309: 0.006211180124223602,
              126637: 0.0,
              29104: 0.0,
              84146: 0.043478260869565216,
              30643: 0.007134363852556481,
              122803: 0.04878048780487805,
              46264: 0.0,
              103611: 0.01956745623069001,
              47166: 0.0,
              37438: 0.0,
              156480: 0.014460511679644048,
              112321: 0.007194244604316547,
              124482: 0.008174386920980926,
              90691: 0.012757605495583905,
              115907: 0.0,
              144322: 0.009603841536614645,
              143049: 0.01366742596810934,
              97994: 0.0066985645933014355,
              137293: 0.036116044997039666,
              80974: 0.01606425702811245,
              136142: 0.0060189165950128975,
              162516: 0.0,
              20055: 0.017823639774859287,
              61912: 0.006888633754305396,
              88539: 0.012646793134598013,
              32349: 0.0,
              150655: 0.007252946509519492,
              162271: 0.009727626459143969,
              93424: 0.01557285873192436,
              110971: 0.011417697431018078,
              62199: 0.006396588486140725,
              72315: 0.006836308393467528,
              153086: 0.004942339373970346,
              17783: 0.013057671381936888},
             'Fantasy': {78849: 0.006756756756756757,
              32778: 0.015748031496062992,
              106507: 0.02,
              55189: 0.008120649651972157,
              93855: 0.026200873362445413,
              31776: 0.006696428571428571,
              24610: 0.016221374045801526,
              109731: 0.006402048655569782,
              8619: 0.020588235294117647,
              34987: 0.0,
              75309: 0.012422360248447204,
              126637: 0.010679611650485437,
              29104: 0.020854021847070508,
              84146: 0.021739130434782608,
              30643: 0.029726516052318668,
              122803: 0.032520325203252036,
              46264: 0.06206896551724138,
              103611: 0.026776519052523172,
              47166: 0.07013574660633484,
              37438: 0.04408352668213457,
              156480: 0.041156840934371525,
              112321: 0.014388489208633094,
              124482: 0.04087193460490463,
              90691: 0.02747791952894995,
              115907: 0.03016453382084095,
              144322: 0.025210084033613446,
              143049: 0.02733485193621868,
              97994: 0.03636363636363636,
              137293: 0.017761989342806393,
              80974: 0.030120481927710843,
              136142: 0.04213241616509028,
              162516: 0.026246719160104987,
              20055: 0.016885553470919325,
              61912: 0.03444316877152698,
              88539: 0.022583559168925023,
              32349: 0.00788436268068331,
              150655: 0.03535811423390753,
              162271: 0.009727626459143969,
              93424: 0.00778642936596218,
              110971: 0.029019980970504282,
              62199: 0.01279317697228145,
              72315: 0.02753513102924421,
              153086: 0.03459637561779242,
              17783: 0.03808487486398259},
             'Horror': {78849: 0.033783783783783786,
              32778: 0.015748031496062992,
              106507: 0.007368421052631579,
              55189: 0.0777262180974478,
              93855: 0.036390101892285295,
              31776: 0.020089285714285716,
              24610: 0.016221374045801526,
              109731: 0.026888604353393086,
              8619: 0.006862745098039216,
              34987: 0.013377926421404682,
              75309: 0.10559006211180125,
              126637: 0.005825242718446602,
              29104: 0.1529294935451837,
              84146: 0.014492753623188406,
              30643: 0.04280618311533888,
              122803: 0.016260162601626018,
              46264: 0.05862068965517241,
              103611: 0.061791967044284246,
              47166: 0.00904977375565611,
              37438: 0.029002320185614848,
              156480: 0.027808676307007785,
              112321: 0.1223021582733813,
              124482: 0.06948228882833787,
              90691: 0.06967615309126594,
              115907: 0.04113345521023766,
              144322: 0.04441776710684274,
              143049: 0.04555808656036447,
              97994: 0.022966507177033493,
              137293: 0.046181172291296625,
              80974: 0.012048192771084338,
              136142: 0.0060189165950128975,
              162516: 0.0621172353455818,
              20055: 0.04127579737335835,
              61912: 0.014925373134328358,
              88539: 0.006323396567299007,
              32349: 0.04730617608409987,

In [12]:
# # small example on user likelihood - could be skipped
# # get user likelihood value example
#user_id = 49403 # Was set to 12 by Wissam - #1 - 541 - #2 - 49403
#target_genre = 'Drama'

# get_user_max_likelihood(user_id, target_genre, genres, ratings_df)
# # user offline dict for likelihood
#likelihood_dict[target_genre][user_id]

### Clustering - kmeans

In [13]:
clustered_df = pd.read_csv('output/' + dataset_name + '/clusters.csv')

# group clusters into another dataframe with different representation
grouped_clusters = clustered_df.groupby('cluster')['userId'].apply(list).reset_index(name='users_list')
grouped_clusters['users_per_cluster'] = grouped_clusters.apply(lambda x: list(set(x.users_list)), axis=1)
grouped_clusters = grouped_clusters[['cluster', 'users_per_cluster']]

## Model evaluation - alpha-beta-ndcg

### get ideal rankings

In [14]:
discarded_users = []
ideal_rankings = []
k = 5
# get ideal rankings for every unique user in the dataset
for user in users:
    # check if ratings of user in the test_df is less than k
    if len(test_df[test_df['userId'] == user]) <= k:
        discarded_users.append(user)
        continue

    user_ideal_ranks = get_ideal_rankings(user, likelihood_dict, test_df, k=k)
    df = pd.DataFrame(user_ideal_ranks, columns=["userId", "movieId", "prediction", "rank"])
    ideal_rankings.append(df)

user_ideal_ranks_df = pd.concat(ideal_rankings)

# merge item data to the ratings df and then left joing to get real ratings
user_ideal_ranks_df = user_ideal_ranks_df.merge(movies, how='inner', on='movieId').sort_values(by='userId')
user_ideal_ranks_df = user_ideal_ranks_df.merge(ratings_df, how='left', on=['userId', 'movieId', 'genres', 'title']).sort_values(by=['userId', 'rank'])
user_ideal_ranks_df = user_ideal_ranks_df.drop(['title', 'timestamp'], axis=1)

### alpha-beta-nDCG - Test data

In [15]:
rankings_hits = rankings_hits.rename(columns={'genres_x':'genres'}).copy()

In [16]:
ratings_df

,Unnamed: 0.1,Unnamed: 0,Column1,userId,movieId,rating,user_cat,rating_group,item_cat,nf1,...,3&4,1&2&3,2&3&4,1&2&4,1&3&4,1&2&3&4 = 0,1&2&3&4 = 1,timestamp,title_y.1,genres_y.1
0,0,21976,446620,8619,54426,3.5,None,None,None,0,...,0,0,0,0,0,1,0,1269300682,12:08 East of Bucharest (A fost sau n-a fost?)...,Comedy|Drama
1,30,21974,612574,8619,4638,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1113270109,Jurassic Park III (2001),Action|Adventure|Sci-Fi|Thriller
2,31,21959,701769,8619,8505,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1174346819,"Eel, The (Unagi) (1997)",Drama|Romance
3,32,21960,618242,8619,2130,3.5,None,None,None,0,...,0,0,0,0,0,1,0,1137974196,Atlantic City (1980),Crime|Drama|Romance
4,33,21961,120327,8619,75443,3.5,None,None,None,0,...,0,0,0,0,0,1,0,1269203261,Invisible Stripes (1939),Crime|Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3212,3166,425464,311078,162516,44004,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1408820482,Failure to Launch (2006),Comedy|Romance
3213,3165,425463,823186,162516,5952,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1175594311,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
3214,3164,425462,477006,162516,160,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1074040573,Congo (1995),Action|Adventure|Mystery|Sci-Fi
3215,3171,425470,129393,162516,2520,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1075736674,Airport (1970),Drama
3216,3216,425467,83505,162516,5854,3.0,None,None,None,0,...,0,0,0,0,0,1,0,1036503709,Sharky's Machine (1981),Crime|Drama|Romance

In [17]:
rankings_hits

,userId,movieId,prediction_x,rank,title_x,genres,Unnamed: 0.1,Unnamed: 0,Column1,rating,...,3&4,1&2&3,2&3&4,1&2&4,1&3&4,1&2&3&4 = 0,1&2&3&4 = 1,timestamp,title_y.1,genres_y.1
0,8619,99402,3.920971,1,Alois Nebel (2011),Animation|Crime|War,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,8619,58998,3.904058,2,Forgetting Sarah Marshall (2008),Comedy|Romance,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,8619,32298,3.858332,3,Guess Who (2005),Comedy|Romance,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,8619,178153,3.803753,4,Death Trance (2005),Action|Sci-Fi|Thriller,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,8619,135202,3.800667,5,Prime Suspect: Scent of Darkness (1995),(no genres listed),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,162516,106458,3.535159,6,"Tiger from Tjampa, The (Harimau Tjampa) (1953)",Drama,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,162516,178483,3.529783,7,The Marchers (2013),Drama,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,162516,97768,3.526452,8,Free Men (Les hommes libres) (2011),Drama|War,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,162516,7004,3.520524,9,Kindergarten Cop (1990),Action|Comedy|Crime|Thriller,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,162516,49274,3.519615,10,Happy Feet (2006),Adventure|Animation|Children|Comedy|IMAX,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
from metric.metric import transform_rankings_hits, get_user_dcg, get_dcg

rankings_hits_transformed = transform_rankings_hits(rankings_hits, genres)
rankings_hits_transformed_ideal = transform_rankings_hits(user_ideal_ranks_df, genres)

# user_id = 12
# k = 5
# user_dcg = get_user_dcg(user_id, rankings_hits_transformed, ratings_df, likelihood_dict, k)
# user_idcg = get_user_dcg(user_id, rankings_hits_transformed_ideal, ratings_df, likelihood_dict, k)
# user_idcg

row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5
row.rating is4.5

C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)
C:\Users\clari\Desktop\M2 - Thesis\Research\Dr Jacques Bou Abdo\Recommender System\5 - Ensemble Learning Model\Accuracy Metrics\Group Validation\metric\metric.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rankings_hits_reform.loc[i, genre] = float(row.rating)

In [19]:
# alpha-beta-nDCG for the whole test data
dcg = get_dcg(rankings_hits_transformed, ratings_df, likelihood_dict, discarded_users, k)
idcg = get_dcg(rankings_hits_transformed_ideal, ratings_df, likelihood_dict, discarded_users, k)

alpha_beta_ndcg = dcg[0]/idcg[0]
alpha_beta_ndcg

0.010037638283737747

### Group validation

In [20]:
dcg_df = dcg[1]
idcg_df = idcg[1]
all_clusters_list = grouped_clusters.users_per_cluster.to_list()
group_metric = {}

for cluster_id, cluster in enumerate(all_clusters_list):
    # dcg/idcg for the cluster
    cluster_dcg_df = dcg_df.loc[dcg_df['userId'].isin(cluster)]
    cluster_idcg_df = idcg_df.loc[idcg_df['userId'].isin(cluster)]
    cluster_dcg = sum(cluster_dcg_df['DCG'].to_list())
    cluster_idcg = sum(cluster_idcg_df['DCG'].to_list())
    # cluster ab-nDCG
    if cluster_idcg == 0:
        if cluster_dcg == 0:
            cluster_alpha_beta_ndcg = 0
        else:
            cluster_alpha_beta_ndcg = cluster_dcg
    else:
        cluster_alpha_beta_ndcg = cluster_dcg/cluster_idcg
    

    # dcg/idcg for the equivalent (cluster - dataset = rest of the examples)
    cluster_equiv_dcg_df = dcg_df.loc[~dcg_df['userId'].isin(cluster)]
    cluster_equiv_idcg_df = idcg_df.loc[~idcg_df['userId'].isin(cluster)]
    cluster_equiv_dcg = sum(cluster_equiv_dcg_df['DCG'].to_list())
    cluster_equiv_idcg = sum(cluster_equiv_idcg_df['DCG'].to_list())
    # equivalent set ab-nDCG
    if cluster_equiv_idcg == 0:
        if cluster_equiv_dcg == 0:
            cluster_equiv_alpha_beta_ndcg = 0
        else:
            cluster_equiv_alpha_beta_ndcg = cluster_equiv_dcg
    else:
        cluster_equiv_alpha_beta_ndcg = cluster_equiv_dcg/cluster_equiv_idcg

    group_metric[cluster_id] = [cluster_alpha_beta_ndcg, cluster_equiv_alpha_beta_ndcg]

In [21]:
group_metric_df = pd.DataFrame.from_dict(group_metric, orient='index')\
    .reset_index()\
    .rename({'index':'cluster', 0:'cluster-ab-nDCG', 1: 'equiv-ab-nDCG'}, axis=1)
group_metric_df['ab-ndcg'] = alpha_beta_ndcg
group_metric_df['perc-change'] = group_metric_df.apply(lambda x: ((x['cluster-ab-nDCG'] - x['ab-ndcg']) / x['ab-ndcg'])*100, axis=1)
group_metric_df['condition-1'] = group_metric_df.apply(lambda x: (x['cluster-ab-nDCG'] - x['equiv-ab-nDCG']), axis=1)
group_metric_df.to_csv('output/' + dataset_name + '/group_ab1_ndcg_'+dataset_name+'.csv', index=False)